RetentionPolicy/RetentionPolicyFlow.json
[{"id":"6c2a25735c95cbda","type":"group","z":"f8ebd356be6aac61","name":"MS Graph","style":{"label":true,"color":"#000000","fill":"#bfdbef"},"nodes":["7675131a10147424","1c3885b4840b9a78","727f4aab65238bf7","c7a360ea0866fe2f","280d2dd65e6833b4","4ce11b814574bbf4","d88b95673fef3d92","3e14f26927fbb9c8","f2987398feae6b82","07c637dbab36a3f3"],"x":48,"y":2973,"w":1796,"h":814},{"id":"7675131a10147424","type":"function","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"get MS Graph token","func":"msg.credentials =\n{\n    \"realm\": flow.get(\"info.tenantid\"),\n        \"client_id\": flow.get(\"info.appid\"),\n    \"client_secret\": flow.get(\"info.appsecret\"),\n    \"scope\": \"https%3A%2F%2Fgraph.microsoft.com%2F.default\"\n}\nmsg.method = \"POST\"\nmsg.url = \"https://login.microsoftonline.com/\" + msg.credentials.realm + \"/oauth2/v2.0/token\"\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Host\": \"login.microsoftonline.com\"\n};\nmsg.payload = \"client_id=\" + msg.credentials.client_id + \"&scope=\" + msg.credentials.scope + \"&client_secret= \" + msg.credentials.client_secret + \"&grant_type=client_credentials\"\n\nreturn msg; ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3120,"wires":[["1c3885b4840b9a78"]]},{"id":"1c3885b4840b9a78","type":"http request","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":3120,"wires":[["d88b95673fef3d92"]]},{"id":"727f4aab65238bf7","type":"inject","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":3120,"wires":[["7675131a10147424"]]},{"id":"c7a360ea0866fe2f","type":"function","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"get side id","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + flow.get('graph.token'),\n    \"Host\": \"graph.microsoft.com\"\n};\nmsg.method = \"GET\"\nmsg.url = flow.get(\"graph.site.url\") + flow.get(\"info.SPOdomain\") + \":\" + flow.get(\"info.SPOsite\")\nreturn msg; \n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":3180,"wires":[["280d2dd65e6833b4"]]},{"id":"280d2dd65e6833b4","type":"http request","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":3180,"wires":[["3e14f26927fbb9c8"]]},{"id":"4ce11b814574bbf4","type":"inject","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":3180,"wires":[["c7a360ea0866fe2f"]]},{"id":"d88b95673fef3d92","type":"function","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"save token","func":"flow.set(\"graph.token\", msg.payload.access_token)\nflow.set(\"graph.site.url\", \"https://graph.microsoft.com/v1.0/sites/\")\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":3120,"wires":[[]]},{"id":"3e14f26927fbb9c8","type":"function","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"save site id","func":"flow.set(\"graph.site.id\", msg.payload.id)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":3180,"wires":[[]]},{"id":"f2987398feae6b82","type":"group","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"Sharepoint using MS Graph","style":{"label":true,"color":"#000000","fill":"#ffffff"},"nodes":["efbc18ae51c6436d","907a69e92fccf4d9","57c6df11caa1ee7f","142e65a970510b05","86506aa4fee0d077"],"x":74,"y":3253,"w":1744,"h":508},{"id":"efbc18ae51c6436d","type":"function","z":"f8ebd356be6aac61","g":"f2987398feae6b82","name":"get Retention list","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + flow.get('graph.token'),\n    \"Host\": \"graph.microsoft.com\"\n};\nmsg.method = \"GET\"\nmsg.url = flow.get(\"graph.site.url\") + flow.get(\"graph.site.id\") + \"/lists/RetentionPolicy/items?expand=fields\"\nreturn msg; \n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3320,"wires":[["907a69e92fccf4d9"]]},{"id":"907a69e92fccf4d9","type":"http request","z":"f8ebd356be6aac61","g":"f2987398feae6b82","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":3320,"wires":[["142e65a970510b05"]]},{"id":"57c6df11caa1ee7f","type":"inject","z":"f8ebd356be6aac61","g":"f2987398feae6b82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":3320,"wires":[["efbc18ae51c6436d"]]},{"id":"142e65a970510b05","type":"function","z":"f8ebd356be6aac61","g":"f2987398feae6b82","name":"save retention policy values","func":"// get the results array\nlet inputArray = (msg.payload && msg.payload.value) || [];\n\n\n// filter active entries and map to simplified object\nlet retention = inputArray\n    .filter(entry => entry.fields.wsp_ucc_rp_active)  // only active\n    .map(entry => ({\n        list: entry.fields.wsp_ucc_rp_list,\n        period: entry.fields.wsp_ucc_rp_retentionperiod,\n        active: entry.fields.wsp_ucc_rp_active\n    }));\n\nmsg.retention = retention;\nmsg.check1 = msg.retention.length\nmsg.counter1 = 0\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":3320,"wires":[["9588855d1a717160"]]},{"id":"86506aa4fee0d077","type":"group","z":"f8ebd356be6aac61","g":"f2987398feae6b82","name":"check each list for older entries","style":{"fill":"#ffff7f","label":true,"color":"#000000"},"nodes":["8664d5477329052a","f7cfc1d868f4d13a","4b2aa025c725d8b9","9588855d1a717160","a1b1515cd60d8579","b4f9cba75e89efdb","9a58e1ac32f787a8"],"x":974,"y":3279,"w":818,"h":456},{"id":"8664d5477329052a","type":"function","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"query each list","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + flow.get (\"graph.token\"),\n    \"Content-Type\": \"application/json\",\n    \"Prefer\": \"HonorNonIndexedQueriesWarningMayFailRandomly\"\n};\n\nmsg.method = \"GET\"\n\nvar period = Number(msg.retention[msg.counter1].period)\nlet date = new Date();\ndate.setDate(date.getDate() - period);\nlet cutoff = date.toISOString();\n\nmsg.url = flow.get(\"graph.site.url\") + flow.get(\"graph.site.id\") + \"/lists/\" + msg.retention[msg.counter1].list + \"/items?$filter=fields/Created lt '\" + cutoff + \"'\"\n\n\nmsg.text = period\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":3360,"wires":[["f7cfc1d868f4d13a"]]},{"id":"f7cfc1d868f4d13a","type":"http request","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"SPO <each> list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1500,"y":3360,"wires":[["a1b1515cd60d8579"]]},{"id":"4b2aa025c725d8b9","type":"function","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"next entry","func":"msg.counter1 = msg.counter1 +1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":3380,"wires":[["9588855d1a717160"]]},{"id":"9588855d1a717160","type":"switch","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"Counter1","property":"check1","propertyType":"msg","rules":[{"t":"neq","v":"counter1","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":3320,"wires":[["8664d5477329052a"]]},{"id":"a1b1515cd60d8579","type":"function","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"prepare worklist","func":"let items = (msg.payload.d && msg.payload.d.results) || [];\n\nmsg.olditems = items\n\nmsg.counter2 = 0\n\nif (msg.payload && msg.payload.d && msg.payload.d.__next) {\n    msg.moreresults = true;\n} else {\n    msg.moreresults = false;\n}\n\nmsg.check2 = msg.olditems.length\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3360,"wires":[["dc629fb2b3d1611f"]]},{"id":"b4f9cba75e89efdb","type":"group","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"delete each result from the SPO list","style":{"label":true,"color":"#000000","fill":"#ffff00","label-position":"sw"},"nodes":["5420fa1f3a977e5f","dc629fb2b3d1611f","164778779c2d002b","304e30f4d3fa10ee"],"x":1174,"y":3519,"w":592,"h":190},{"id":"5420fa1f3a977e5f","type":"function","z":"f8ebd356be6aac61","g":"b4f9cba75e89efdb","name":"delete entry","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + flow.get (\"graph.token\"),\n    \"Accept\": \"application/json;odata=verbose\",\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.method = \"DELETE\"\nmsg.url = flow.get(\"graph.site.url\") + flow.get(\"graph.site.id\") + \"/lists/\" + msg.retention[msg.counter1].list + \"/items/\" + msg.olditems[msg.counter2].Id\nmsg.payload = {};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":3560,"wires":[["164778779c2d002b"]]},{"id":"dc629fb2b3d1611f","type":"switch","z":"f8ebd356be6aac61","g":"b4f9cba75e89efdb","name":"Counter2","property":"counter2","propertyType":"msg","rules":[{"t":"eq","v":"check2","vt":"msg"},{"t":"lt","v":"check2","vt":"msg"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":3560,"wires":[["9a58e1ac32f787a8"],["5420fa1f3a977e5f"]]},{"id":"164778779c2d002b","type":"function","z":"f8ebd356be6aac61","g":"b4f9cba75e89efdb","name":"next entry","func":"msg.counter2 = msg.counter2 +1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":3660,"wires":[["dc629fb2b3d1611f"]]},{"id":"304e30f4d3fa10ee","type":"http request","z":"f8ebd356be6aac61","g":"b4f9cba75e89efdb","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1670,"y":3560,"wires":[[]]},{"id":"9a58e1ac32f787a8","type":"switch","z":"f8ebd356be6aac61","g":"86506aa4fee0d077","name":"more results","property":"moreresults","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":3460,"wires":[["4b2aa025c725d8b9"],["8664d5477329052a"]]},{"id":"07c637dbab36a3f3","type":"group","z":"f8ebd356be6aac61","g":"6c2a25735c95cbda","name":"","style":{"fill":"#ff7f7f","label":true},"nodes":["d399dd27d044d2a3","ed5d075821f5b65d","9402affb0e37b6a2"],"x":94,"y":2999,"w":772,"h":82},{"id":"d399dd27d044d2a3","type":"function","z":"f8ebd356be6aac61","g":"07c637dbab36a3f3","name":"required information","func":"//appid and secret from Azure with the \"Sites.ReadWrite.All\" right\nflow.set(\"info.appid\", \"<yourappid>\")\nflow.set(\"info.appsecret\", \"<your encoded secret>\")\n//your tenant id\nflow.set(\"info.tenantid\", \"<your tenantid>\")\n//your Sharepoint domain like: a365iinfinityps.sharepoint.com\nflow.set(\"info.SPOdomain\", \"<your Sharepoint domain>\")\n//your site name from Sharepoint like: /sites/ucc_pl_olafg\nflow.set(\"info.SPOsite\", \"<your Sharepoint site>\")\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3040,"wires":[[]]},{"id":"ed5d075821f5b65d","type":"inject","z":"f8ebd356be6aac61","g":"07c637dbab36a3f3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":3040,"wires":[["d399dd27d044d2a3"]]},{"id":"9402affb0e37b6a2","type":"comment","z":"f8ebd356be6aac61","g":"07c637dbab36a3f3","name":"please fill in all required information","info":"","x":700,"y":3040,"wires":[]}]
